:root {
    --md-primary-fg-color: rgba(4, 124, 145, 1);
}

.md-nav__source {
    background-color: var(--md-primary-fg-color);
}

/* Ensure code blocks are left-justified */
pre code {
    text-align: left;
}

/* Remove any unwanted margins or padding */
pre {
    text-align: left;
    margin: 0;
    padding: 10px;
}
